body {
  background: url(Web\ 1920\ –\ 1.png) no-repeat;
  background-size: cover;
  background-position: center center;
}

* {
  margin: 0px;
  padding: 0px;
}
img {
  width: 20px;
}
input {
  border-radius: 5px;
  outline: none;
  background: transparent;
  padding: 5px;
  font-weight: 16px;
}
#input-box {
  width: 75%;
  display: flex;
  align-items: center;
}
.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  

.btn {
  border: none;
  background-color: #ff5946;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.row2 {
  display: flex;
}
.card {
  width: 30%;
  margin-top: 50px;
}
ul li {
  list-style: none;
  font-size: 20px;
  padding: 12px 8px 12px 50px;
  position: relative;
  margin-left: -90px;
  width: 100%;
  text-wrap: wrap;
}
ul li span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: -50px;
  width: 30px;
  height: 30px;
  font-size: 22px;

  color: #fff;
  border-radius: 20%;
  background-color: #ff5946;
  padding: 0;
}
ul li span:hover {
  background-color: transparent;
  color: #555;
  cursor: pointer;
}
.checked {
  color: #555;
  text-decoration: line-through;
}
li input {
  margin-right: 30px;
  margin-left: 10px;
}
li input:hover {
  cursor: pointer;
}
h2 {
  text-align: center;
}
.inp {
  margin-left: 5%;
}
